body {
    display: flex;
    text-align: center;
}
.conteudo_principal{
    display: flex;
    text-align: center;
}
.botao_git {
    width: 30px;
    height: 30px;
}
.menu {
    position: fixed;
    width: 100%;
    text-decoration: none;
}
.botao_linkedlin {
    width: 30px;
    height: 30px;
}
.lista_menu_tecnologias {
    display: none;
}
.container_menu:checked ~ .lista_menu_tecnologias {
    display: block;
    background: aqua;
    
}